.repos__detail {
  text-align: start;
}

.repos__detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repos__detail-header svg {
  margin-left: 0.5rem;
}

.rating {
  display: flex;
  align-items: center;
}
