.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
}

.body {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}

.desc {
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0;
}
