.list__users-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto 0;
  padding: 0 2rem;
  gap: 1rem;
}

/* For desktop */
@media screen and (min-device-width: 1023px) {
  .list__users-wrapper {
    max-width: 400px;
    margin-top: 2.5rem;
  }
}
