.accordion__wrapper {
  padding: 0 1rem;
  border-radius: 3px;
  border: 1px solid var(--soft-grey);
  background: var(--soft-grey);
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion__header p {
  word-break: break-all;
  text-align: start;
}

.accordion__header svg {
  cursor: pointer;
}

.accordion__body {
  padding-bottom: 1rem;
}
