/* ====================== VARIABLE CSS ====================== */
:root {
  /* Colors */
  --blue: #0275d8;
  --white: #fff;
  --black: #24292e;
  --dark-grey: #858585;
  --soft-grey: #ededed;
}

.app__container {
  margin: 0;
  padding: 2rem;
  text-align: center;
}
